# --- AI Core (Versi Baru untuk support C3k2) ---
numpy==1.26.4
ultralytics==8.3.40
torch==2.4.1
torchvision==0.19.1
pillow==10.2.0
opencv-python-headless==4.9.0.80

# --- Web Framework ---
fastapi==0.110.0
uvicorn==0.27.1
python-multipart==0.0.9
requests==2.31.0

# --- Database & Auth ---
sqlalchemy==2.0.27
pymysql==1.1.0
pydantic==2.6.3
pydantic-settings==2.2.1
email-validator==2.1.1
python-dotenv==1.0.1
python-jose==3.3.0
passlib==1.7.4
bcrypt==4.1.2

# --- Cloud ---
cloudinary==1.39.0